/* CSS veriables */
:root {
  --primary: #ddd;
  --dark: #333;
  --light: #fff;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

html {
  box-sizing: border-box;
  color: var(--dark);
  font-family: Poppins, sans-serif;
}

body {
  background: #ccc;
  margin: 30px 50px;
  line-height: 1.4;
}

h1 {
  font-size: 2.5rem;
  line-height: 64px;
  color: var(--dark);
}

h2 {
  font-size: 1.9rem;
  line-height: 54px;
  color: #222;
}

h3 {
  font-size: 1.5rem;
  color: #222;
}

h4 {
  font-size: 1.5rem;
  color: #222;
}

.btn {
  background: var(--light);
  color: var(--dark);
  padding: 0.6rem 1.3rem;
  text-decoration: none;
  border: 0;
  cursor: pointer;
}
.btn:hover {
  background: var(--dark);
  color: var(--light);
}
.btn a {
  color: var(--dark);
}
.btn a:hover {
  color: var(--light);
}

img {
  max-width: 100%;
}

/* Header */
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: var(--light);
  box-shadow: var(--shadow);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: var(--dark);
  transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
  color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #088178;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

#mobile {
  display: none;
  align-items: center;
}

#close {
  display: none;
}

/* Top Container */
.top-container {
  display: grid;
  margin-top: 30px;
  gap: 20px;
  grid-template-areas:
    "showcase showcase "
    "showcase showcase"
    "top-box-a top-box-b";
}

.showcase {
  grid-area: showcase;
  min-height: 400px;
  background: url("./../img/pic1.jpg");
  background-size: cover;
  background-position: center;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  box-shadow: var(--shadow);
}

.showcase h1 {
  font-size: 3rem;
  margin-bottom: 0;
  color: var(--light);
}

.showcase h3 {
  font-size: 2rem;
  margin-bottom: 0;
  color: var(--light);
}

.showcase p {
  font-size: 1.3rem;
  margin-top: 0;
  color: var(--light);
}

.top-box {
  display: grid;
  align-items: center;
  justify-items: center;
  box-shadow: var(--shadow);
  padding: 1.2rem;
  color: var(--light);
}

.top-box h4 {
  color: var(--light);
}

.top-box .smal-box {
  font-size: 1.5rem;
}

.top-box-a {
  grid-area: top-box-a;
  background: url("./../img/pic3.jpg");
  background-size: 100%;
}

.top-box-b {
  grid-area: top-box-b;
  background: url("./../img/pic5.jpg");
  background-size: 100%;
}

/* Gallery */
#features {
  background-color: #eff0ea;
  padding: 3rem;
}

section header {
  margin-bottom: 3.5rem;
}

.gallery-header p {
  max-width: 10rem;
  margin-left: auto;
  margin-right: auto;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.gallery-header h3 {
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-bottom: 3.5rem;
}

.gallery-block {
  padding: 1rem;
  align-items: center;
  box-shadow: var(--shadow);
}

.btn-gallery {
  background: var(--dark);
  color: var(--light);
  padding: 0.6rem 1.3rem;
  text-decoration: none;
  border: 0;
  cursor: pointer;
}
.btn-gallery:hover {
  background: var(--light);
  color: var(--dark);
}
.btn-gallery a {
  color: var(--light);
}
.btn-gallery a:hover {
  color: var(--dark);
}

img {
  max-width: 100%;
}

.gallery div {
  text-align: start;
}

.gallery img {
  margin-bottom: 1.3rem;
}

/* Footer */
footer {
  padding: 5rem 0;
}

footer p {
  text-align: center;
}
